
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Tilt+Neon&display=swap')

html{
	font-size: 14px;
}

body{
	font-family: "Mulish", "sans-serif";
}
a{
	text-decoration:none;
}

.image-size {
    width: 300px;
    height: 200px;
}
.carousel-item img{
	object-fit: cover;
	object-position : top;
	height: 80vh;
	overflow : hidden;
    }

.old_price {
	font-weight:bold;
	color : red;
}
.new_price {
	font-weight:bold;
	background-color:green;
	color:white;
}